
[submodule "vim/janus/greplace.vim"]
	path = vim/janus/greplace.vim
	url = git://github.com/vim-scripts/greplace.vim.git
[submodule "vim/janus/vim-conque"]
	path = vim/janus/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule "vim/janus/vim-ruby-conque"]
	path = vim/janus/vim-ruby-conque
	url = git://github.com/skwp/vim-ruby-conque.git
[submodule "vim/janus/vim-ragtag"]
	path = vim/janus/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/janus/tabular"]
	path = vim/janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/janus/vim-clojure"]
	path = vim/janus/vim-clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/janus/vim-indent-guides"]
	path = vim/janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/janus/vim-jade"]
	path = vim/janus/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/janus/greplace"]
	path = vim/janus/greplace
	url = git://github.com/vim-scripts/greplace.vim.git
[submodule "vim/janus/vim-jst"]
	path = vim/janus/vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "vim/janus/scss-syntax-vim"]
	path = vim/janus/scss-syntax-vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
