
[submodule "vim/janus/greplace.vim"]
	path = vim/janus/greplace.vim
	url = git://github.com/vim-scripts/greplace.vim.git
[submodule "vim/janus/vim-ragtag"]
	path = vim/janus/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/janus/tabular"]
	path = vim/janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/janus/vim-clojure"]
	path = vim/janus/vim-clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/janus/vim-indent-guides"]
	path = vim/janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/janus/vim-jade"]
	path = vim/janus/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/janus/greplace"]
	path = vim/janus/greplace
	url = git://github.com/vim-scripts/greplace.vim.git
[submodule "vim/janus/vim-jst"]
	path = vim/janus/vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "vim/janus/vim-haml"]
	path = vim/janus/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/janus/html5"]
	path = vim/janus/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/janus/vim-nginx"]
	path = vim/janus/vim-nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "vim/janus/vim-multiple-cursors"]
	path = vim/janus/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/janus/vim-csharp"]
	path = vim/janus/vim-csharp
	url = git@github.com:OrangeT/vim-csharp.git
[submodule "vim/janus/vim-mustache-handlebars"]
	path = vim/janus/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
